.booktwist {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    perspective: 1000px;
  }
  
  .content {
    width: 400px;
    height: 600px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 10px;
  }
  
  .front,
  .back {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {

    border-radius: 30px;
    transform: rotateY(0deg);
  }
  
  .back {
   
    transform: rotateY(180deg);
  }
  

  .front img, .back img{
    width: 100%;
    border-radius: 25px;
    height: 100%;
  }
  .container:hover .content {
    transform: rotateY(180deg);
  }
  