*{
 box-sizing: border-box;
 font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;   
}

.image-grid{
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    width: 100%;
    z-index:0;
  overflow: hidden;
  height: 100%;
    transition: transform 1.4s ease-in-out;
    background-color: black;
}
.grid-image{
    transition: transform 1.4s ease-in-out; /* Adicione a transição à propriedade transform */
    animation-name: pageEfect;
    animation-duration: 1.4s;
    opacity: 1;
    width: 16.66vw;
    height: 50vh;
}
.grid-image img{
    width: 100%;
    height: 100%;
   
}
@keyframes pageEfect {
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }
.principal-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #381818b9;
}

.modalLogin-inicial{
    background-color: #fff;
    border-radius: 10px;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}
.modalLogin-inicial h1{
    font-size: 38px;
    
    width: 100%;
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: 700;
    
}

.inputmodallogin{
    width: 100%;
    margin-bottom: 5px;
}
.modalLogin-inicial .inputmodallogin h2{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: flex-start;
}

.modalLogin-inicial .inputmodallogin input{
    width: 99%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttonmodallogin{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.buttonmodallogin button{
    width: 30%;
    height: 100%;
    background-color: #d85d5de8;
    border-radius: 10px;
    border: none;
    color: #fff;
    align-items: flex-end;
    cursor: pointer;
}